<template>
    <div class="aboutbg">
        <div class="about container">
            <div class="aboutimage">
                <img src="https://d5g4n8n9.rocketcdn.me/wp-content/uploads/2021/04/logo-banner.jpg">
            </div>
            <div class="abouttext">
                <h2>เกี่ยวกับเรา</h2>
                <p>บริษัทรับทําเว็บไซต์ รับออกแบบเว็บไซต์ บริษัท ซีเจ ซอฟท์ จำกัด ให้บริการรับทำเว็บไซต์ ก่อตั้งเมื่อวันที่ 18 เมษายน 2560 โดยทีมงานที่มีประสบการณ์ในวงการไอทีและออนไลน์มากกว่า 20 ปี โดยมีความตั้งใจที่จะเสนอการจัดทำเว็บไซต์ครบวงจร ไม่ว่าจะเป็นการรับทำเว็บไซต์บริษัท รับทำเว็บไซต์ส่วนตัว หรือรับทำเว็บไซต์อีคอมเมิร์ซ รวมทั้งการจัดทำ SEO และ การประชาสัมพันธ์ออนไลน์ เพื่อที่จะทำให้สินค้าและบริการของลูกค้า ออกสู่สากลโลก โดยที่มีการบริหารจัดการต้นทุนที่ดี ก็จะสามารถสร้างกำไรให้กับธุรกิจขนาดเล็ก (SME) ที่เกิดใหม่ได้</p>
            </div>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style>
    .aboutbg {
        background-color: whitesmoke;
        border-bottom: 1px solid #e1e1e1;
    }

    .about {
        display: flex;
        padding: 50px 0;
        align-items: center;
    }

    .about .aboutimage{
        width: 50%;
        padding: 40px 40px 40px 0;
    }

    .about .aboutimage img{
        width: 100%;
        box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
    }

    .about .abouttext{
        width: 50%;
        padding-left: 60px;
    }

    .about .abouttext p{
        font-weight: 300;
    }

    @media screen and (max-width: 570px) {
        .aboutbg {
            width: 100%;
        }

        .about {
            display: block;
            padding: 10px 0;
        }

        .about .aboutimage{
        width: 100%;
        padding: 0;
        }

        .about .aboutimage img{
            width: 100%;
            box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
        }

        .about .abouttext h2{
            font-size: 1.5rem;
        }

        .about .abouttext{
            text-align: center;
            width: 100%;
            padding: 15px;
        }
    }
</style>