<template>
  <b-carousel
    id="carousel-fade"
    style="text-shadow: 0px 0px 2px #000"
    fade
    indicators
    img-width="1024"
    img-height="480"
  >
    <b-carousel-slide
      img-src="https://d5g4n8n9.rocketcdn.me/wp-content/uploads/2021/12/banner_1600x650-px.jpg"
    >
    </b-carousel-slide>
  </b-carousel>
</template>

<script>
export default {};
</script>

<style>
</style>