<template>
    <div class="copyrbg">
        <div class="copyr container">
            <div class="copyrtext">
                Copyright 2022 © บริษัทซีเจ ซอฟท์ จำกัด
            </div>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style>
    .copyrbg {
        background-color: grey;
        margin: 0;
        padding: 10px 0;
    }

    .copyr {
        padding: 0 !important;
        color: white;
        font-size: 14px;
    }

    @media screen and (max-width: 570px) {
        .copyrbg {
            padding: 10px 20px;
        }
    }
</style>