<template>
  <div class="cusbg">
        <div class="customer container">
            <div class="customertext">
                <h2>ลูกค้าของเรา</h2>
                <p>เราได้รับวางใจจากลูกค้ามากมาย ในการใช้บริการรับทำเว็บไซต์ รับออกแบบเว็บไซต์ โดยมีบริษัทต่างๆ กว่า 200 ราย อาทิเช่น บริษัท เอส พี วีไอ จำกัด (มหาชน),บริษัท อินเด็กซ์ ครีเอทีฟ วิลเลจ จำกัด (มหาชน), สมาคมกีฬาเรือพายแห่งประเทศไทย, บริษัท แม่น้ำสแตนเลสไวร์ จำกัด (มหาชน), โรงเรียนสถานสอนภาษาสมาคมนักเรียนเก่าสหรัฐอเมริกา, บริษัท คิดโด แปซิฟิค จำกัด, โรงเรียน ณ ดรุณ, บริษัท ดอยคำผลิตภัณฑ์อาหาร จำกัด และ บริษัท อะโพจี เวิร์ลดไวด์ จำกัด เป็นต้น เราหวังว่าจะได้รับความไว้วางจากท่าน ในการรับทำเว็บไซต์แก่ท่าน ไม่ว่าจะเป็นเว็บไซต์บริษัทหรือเว็บไซต์</p>
                <a href="https://www.cjsoft.co.th/%E0%B8%9C%E0%B8%A5%E0%B8%87%E0%B8%B2%E0%B8%99%E0%B8%97%E0%B8%B3%E0%B9%80%E0%B8%A7%E0%B9%87%E0%B8%9A%E0%B9%84%E0%B8%8B%E0%B8%95%E0%B9%8C%E0%B8%9A%E0%B8%A3%E0%B8%B4%E0%B8%A9%E0%B8%B1%E0%B8%97/">ดูผลงานทั้งหมด</a>
            </div>
            <div class="customerimage">
                <img src="https://d5g4n8n9.rocketcdn.me/wp-content/uploads/2021/09/logo-Customers.jpg">
            </div>
        </div>
  </div>
</template>

<script>
export default {

}
</script>

<style>
    .customer {
        display: flex;
        padding: 50px 0;
    }

    .customer .customerimage{
        width: 50%;
        padding: 40px 0px 40px 40px;
    }

    .customer .customerimage img{
        width: 100%;
        box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
    }

    .customer .customertext{
        width: 50%;
        padding: 40px 90px 0 0;
    }

    .customer .customertext p {
        margin-bottom: 40px;
        font-weight: 300;
    }

    .customer .customertext a{
        background-color: #296f9d;
        padding: 10px 30px;
        color: white;
        text-decoration: none;
    }

    .customer .customertext a:hover{
        background-color: #446084;
        text-decoration: none;
    }

    @media screen and (max-width: 570px) {
        .customer {
            display: block;
            padding: 0;
        }

        .customer .customerimage{
            width: 100%;
            padding: 20px 0;
        }

        .customer .customerimage img{
            width: 100%;
            box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
        }

        .customer .customertext{
            width: 100%;
            padding: 0;
            text-align: center;
        }

        .customer .customertext h2{
            font-size: 1.5rem;
            margin-top: 20px;
        }

        .customer .customertext p {
            margin-bottom: 40px;
            font-weight: 300;
            padding: 0 20px;
        }
    }
</style>