<template>
  <div class="ew container">
        <h3 class="topic">
            <div class="line"></div>
            <span>ตัวอย่างผลงานรับทำเว็บไซต์</span>  
            <div class="line"></div>
        </h3>
        <ul class="cardbox">
            <div class="loop" v-for="(exampleweb, id) in exampleweb" :key="id">
                <div class="carditem">
                    <a :href=exampleweb.link target="_blank"><img :src=exampleweb.img></a>
                </div>
            </div>
        </ul>
    </div>
</template>

<script>
export default {
    data(){
        return{
            exampleweb:[
                {
                    id: 1,
                    link:"https://www.baoji.co.th/",
                    img:"https://d5g4n8n9.rocketcdn.me/wp-content/uploads/2021/11/Baoji-Official-S.jpg"
                },
                {
                    id: 2,
                    link:"http://www.envsci.grad.chula.ac.th/",
                    img:"https://d5g4n8n9.rocketcdn.me/wp-content/uploads/2021/06/%E0%B8%AB%E0%B8%A5%E0%B8%B1%E0%B8%81%E0%B8%AA%E0%B8%B9%E0%B8%95%E0%B8%A3%E0%B8%AA%E0%B8%AB%E0%B8%AA%E0%B8%B2%E0%B8%82%E0%B8%B2%E0%B8%A7%E0%B8%B4%E0%B8%8A%E0%B8%B2%E0%B8%A7%E0%B8%B4%E0%B8%97%E0%B8%A2%E0%B8%B2%E0%B8%A8%E0%B8%B2%E0%B8%AA%E0%B8%95%E0%B8%A3%E0%B9%8C%E0%B8%AA%E0%B8%B4%E0%B9%88%E0%B8%87%E0%B9%81%E0%B8%A7%E0%B8%94%E0%B8%A5%E0%B9%89%E0%B8%AD%E0%B8%A1-%E0%B8%88%E0%B8%B8%E0%B8%AC%E0%B8%B2%E0%B8%A5%E0%B8%87%E0%B8%81%E0%B8%A3%E0%B8%93%E0%B9%8C%E0%B8%A1%E0%B8%AB%E0%B8%B2%E0%B8%A7%E0%B8%B4%E0%B8%97%E0%B8%A2%E0%B8%B2%E0%B8%A5%E0%B8%B1%E0%B8%A2.jpg"
                },
                {
                    id: 3,
                    link:"https://www.primepowerconstruction.com/",
                    img:"https://d5g4n8n9.rocketcdn.me/wp-content/uploads/2021/04/%E0%B9%80%E0%B8%A3%E0%B8%B2%E0%B9%80%E0%B8%8A%E0%B8%B5%E0%B9%88%E0%B8%A2%E0%B8%A7%E0%B8%8A%E0%B8%B2%E0%B8%8D%E0%B8%9E%E0%B8%A5%E0%B8%B1%E0%B8%87%E0%B8%87%E0%B8%B2%E0%B8%99%E0%B8%97%E0%B8%94%E0%B9%81%E0%B8%97%E0%B8%99%E0%B9%81%E0%B8%AA%E0%B8%87%E0%B8%AD%E0%B8%B2%E0%B8%97%E0%B8%B4%E0%B8%95%E0%B8%A2%E0%B9%8C%E0%B9%81%E0%B8%A5%E0%B8%B0%E0%B8%A1%E0%B8%B5%E0%B8%9A%E0%B8%A3%E0%B8%B4%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B8%94%E0%B9%89%E0%B8%B2%E0%B8%99%E0%B9%82%E0%B8%8B%E0%B8%A5%E0%B9%88%E0%B8%B2%E0%B9%80%E0%B8%8B%E0%B8%A5%E0%B8%A5%E0%B9%8C%E0%B8%97%E0%B8%B5%E0%B9%88%E0%B8%84%E0%B8%A3%E0%B8%9A%E0%B8%A7%E0%B8%87%E0%B8%88%E0%B8%A3.png"
                },
            ]
        }
    }

}
</script>

<style scoped>
    .ew {
        padding: 0;
    }

    .ew .topic {
        display: flex;
        align-items: center;
        margin: 40px 0;
    }

    .ew .topic .line {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        height: 2px;
        opacity: .1;
        background-color: currentColor;

    }

    .ew .topic span {
        padding: 0 15px;
        color: rgb(77, 77, 77);
    }

    .ew .cardbox {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: stretch;
        align-items: stretch;
        column-gap: 25px;
        row-gap: 0px;
        list-style: none;
        padding: 0;
    }
    .ew .cardbox .carditem img{
        width: 100%;
        overflow: hidden;
    }

    .ew .cardbox .carditem{
        width: 100%;
    }

    @media screen and (max-width: 570px) {
        .ew .cardbox {
        grid-template-columns: 1fr;
        column-gap: 0px;
        row-gap: 10px;
    }
    }
</style>