<template>
  <div class="footerbg">
        <div class="footer container">
            <div class="footerbox">
                <div class="footertext">
                    <h5>เกี่ยวกับเรา</h5>
                    <div class="line"></div>
                    <p>บริษัทซีเจ ซอฟท์ จำกัด  รับออกแบบเว็บไซต์ รับทำเว็บไซต์ WordPress รับทำเว็บไซต์อีคอมเมิร์ซและรับทำ SEO โดยผู้มีประสบการณ์ในวงการไอทีและออนไลน์มามากกว่า 20 ปี เราพร้อมเสนอบริการจัดทำเว็บไซต์แก่ท่านที่สวยงาม รองรับการใช้งานทุกอุปกรณ์ (Responsive) และให้คำปรึกษาด้าน SEO รวมทั้งการประชาสัมพันธ์เว็บไซต์ของท่านให้เป็นที่รู้จักทั่วโลก โดยมีค่าใช้จ่ายในงบประมาณที่ท่านพึงพอใจ</p>
                </div>
                <div class="footertext">
                    <h5>ติดต่อเรา</h5>
                    <div class="line"></div>
                    <p>
                        บริษัท ซีเจ ซอฟท์ จำกัด128/48 ถนนประชาอุทิศ แขวงดอนเมือง เขตดอนเมือง กรุงเทพฯ 10210<br>
                        <strong>Email :</strong>info@cjsoft.co.th<br><br>
                        <strong>Line Official :</strong> @cjsoft<br><br>
                        <strong>มือถือ :</strong> 098 454 1868<br>
                    </p>
                </div>
                <div class="footertext">
                    <h5>ติดตามเรา</h5>
                    <div class="line"></div>
                    <a href="https://www.facebook.com/cjsoftthailand" target="_bank">
                        <img src="https://d5g4n8n9.rocketcdn.me/wp-content/uploads/2021/04/Facebook_Logo.png">
                    </a>
                    <a href="https://line.me/R/ti/p/%40cjsoft" target="_bank">
                        <img src="https://d5g4n8n9.rocketcdn.me/wp-content/uploads/2021/04/line.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style scoped>
    .footerbg {
        background-color: black;
        color: white;
        padding: 45px 0px;
        font-weight: 300;
    }

    .footer {
        padding: 0;
    }

    .footerbox {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: stretch;
        align-items: stretch;
        column-gap: 20px;
    }

    .footertext .line{
        border: 1.5px solid grey;
        width: 30px;
        text-align: left !important;
        margin-bottom: 10px;
    }

    @media screen and (max-width: 570px) {
        .footerbg {
            padding: 15px 0px;
        }
        .footerbox {
            display: grid;
            grid-template-columns: 1fr;
            justify-items: stretch;
            align-items: stretch;
            padding: 20px;
        }
    }
</style>