<template>
    <b-navbar toggleable="lg" class="navmenu container">
        <b-navbar-brand href="#">
            <img src="https://d5g4n8n9.rocketcdn.me/wp-content/uploads/2021/04/CJ-Soft-logo.png"/>
        </b-navbar-brand>

        <b-collapse id="nav-collapse" is-nav>
            <b-navbar-nav class="ml-auto hovermenu">
                <b-nav-item-dropdown text="เกี่ยวกับเรา" left>
                    <b-dropdown-item href="#" class="dropdownlist">เกี่ยวกับเรา</b-dropdown-item>
                    <b-dropdown-item href="#" class="dropdownlist">ใบรับรอง</b-dropdown-item>
                    <b-dropdown-item href="#" class="dropdownlist">บทความ</b-dropdown-item>
                </b-nav-item-dropdown>
                <b-nav-item-dropdown text="บริการของเรา" left>
                    <b-dropdown-item href="#" class="dropdownlist">รับทำเว็บไซต์</b-dropdown-item>
                    <b-dropdown-item href="#" class="dropdownlist">รับทำเว็บไซต์อีคอมเมิร์ท</b-dropdown-item>
                    <b-dropdown-item href="#" class="dropdownlist">รับทำเว็บไซต์</b-dropdown-item>
                    <b-dropdown-item href="#" class="dropdownlist">รับทำเว็บไซต์</b-dropdown-item>
                    <b-dropdown-item href="#" class="dropdownlist">รับทำเว็บไซต์</b-dropdown-item>
                    <b-dropdown-item href="#" class="dropdownlist">รับทำเว็บไซต์</b-dropdown-item>
                </b-nav-item-dropdown>
                <b-nav-item-dropdown text="ผลงานของเรา" left>
                    <b-dropdown-item href="#" class="dropdownlist">ผลงานรับทำเว็บไซต์</b-dropdown-item>
                    <b-dropdown-item href="#" class="dropdownlist">ผลงานรับทำเว็บไซต์</b-dropdown-item>
                    <b-dropdown-item href="#" class="dropdownlist">ผลงานรับทำเว็บไซต์</b-dropdown-item>
                    <b-dropdown-item href="#" class="dropdownlist">ผลงานรับทำเว็บไซต์</b-dropdown-item>
                    <b-dropdown-item href="#" class="dropdownlist">ผลงานรับทำเว็บไซต์</b-dropdown-item>
                    <b-dropdown-item href="#" class="dropdownlist">ผลงานรับทำเว็บไซต์</b-dropdown-item>
                </b-nav-item-dropdown>
                <b-nav-item href="#">ลูกค้าของเรา</b-nav-item>
                <b-nav-item href="#">รีวิวจากเรา</b-nav-item>
                <b-nav-item href="#">ราคาทำเว็บ</b-nav-item>
                <b-nav-item href="#" class="contact">ติดต่อเรา</b-nav-item>
            </b-navbar-nav>
        </b-collapse>
    </b-navbar>
</template>

<script>
export default {};
</script>

<style scoped>
    .hovermenu a:hover{
        color: rgb(107, 193, 227) !important;
    }

    .contact {
        background-color: brown;
        border-radius: 50px;
        padding: 0 10px;
    }

    .contact a{
        color: white !important;
    }

    .contact a:hover{
        color: white !important;
    }

    .dropdownlist {
        margin: 5px;
        padding: 0 10px;
    }
</style>