<template>
  <div class="ourcus">
    <h3 class="topic container">
      <div class="line"></div>
      <span>ลูกค้าของเรา</span>
      <div class="line"></div>
    </h3>

    <div class="gallery-wrapper">
      <div class="gallery-scroll">
        <div class="gallery">
          <div class="item">
            <img
              src="https://d5g4n8n9.rocketcdn.me/wp-content/uploads/2021/09/logo2.jpg"
              alt="Image"
            />
          </div>
          <div class="item">
            <img
              src="https://d5g4n8n9.rocketcdn.me/wp-content/uploads/2021/04/Srinakharinwirot-Logo.jpg"
              alt="Image"
            />
          </div>
          <div class="item">
            <img
              src="https://d5g4n8n9.rocketcdn.me/wp-content/uploads/2021/04/JESDA.jpg"
              alt="Image"
            />
          </div>
          <div class="item">
            <img
              src="https://d5g4n8n9.rocketcdn.me/wp-content/uploads/2021/04/Kiddo-Pacific-Logo.png"
              alt="Image"
            />
          </div>
          <div class="item">
            <img
              src="https://d5g4n8n9.rocketcdn.me/wp-content/uploads/2021/04/Digital-2-Home-Logo.png"
              alt="Image"
            />
          </div>
          <div class="item">
            <img
              src="https://d5g4n8n9.rocketcdn.me/wp-content/uploads/2021/04/istudiobyspvi.jpg"
              alt="Image"
            />
          </div>
          <div class="item">
            <img
              src="https://d5g4n8n9.rocketcdn.me/wp-content/uploads/2021/04/doikham.jpg"
              alt="Image"
            />
          </div>
          <div class="item">
            <img
              src="https://d5g4n8n9.rocketcdn.me/wp-content/uploads/2021/04/aua-1.jpg"
              alt="Image"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
  .ourcus {
    margin-top: 50px;
  }

  .ourcus .topic {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding: 0;
  }

  .ourcus .topic .line {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 2px;
    opacity: 0.1;
    background-color: currentColor;
  }

  .ourcus .topic span {
    padding: 0 15px;
    color: rgb(77, 77, 77);
  }

  .gallery-wrapper {
    box-sizing: border-box;
    height: 243px;
    overflow: hidden;
  }

  .gallery-scroll {
    box-sizing: border-box;
    height: 243px;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .gallery {
    display: flex;
    box-sizing: border-box;
    width: max-content;
    height: 200px;
    padding: 0px 20px;
  }

  .item {
    box-sizing: border-box;
    height: 100%;
    padding: 14px 7px;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.15);
    border: 1px solid rgb(210, 210, 210);
    margin: 10px;
  }

  .item img {
    display: block;
    height: 100%;
  }
</style>