<template>
    <div class="ourserv container">
        <h3 class="topic">
            <div class="line"></div>
            <span>บริการของเรา</span>  
            <div class="line"></div>
        </h3>
        <ul class="cardbox">
            <div class="loop" v-for="(items, id) in items" :key="id">
                <div class="carditem">
                    <h4>{{items.title}}</h4>
                    <p>{{items.description}}</p>
                    <a :href=items.link>รายละเอียด</a>
                </div>
            </div>
        </ul>
    </div>
</template>

<script>
export default {
    data(){
        return{
            items:[
                {
                    id: 1,
                    title:"รับทำเว็บไซต์",
                    description:"รับทำเว็บไซต์ ขนาดเล็กจนถึงบริษัทระดับมหาชน มีระบบแก้ไขข้อมูลหลังบ้านเองได้ทั้งหมด สามารถเพิ่มและแก้ไขข้อมูลเองได้ อีกทั้งเรายังอบรมการใช้งานให้ตัวต่อตัวพร้อมคู่มือการใช้งาน เว็บไซต์เรารองรับการใช้งานทุกอุปกรณ์ (Responsive) !!!พิเศษ ทำเว็บไซต์กับเรา ทางเราแถมการทำ SEO เบื้องต้น",
                    link:"https://www.cjsoft.co.th/%E0%B8%A3%E0%B8%B1%E0%B8%9A%E0%B8%97%E0%B8%B3%E0%B9%80%E0%B8%A7%E0%B9%87%E0%B8%9A%E0%B9%84%E0%B8%8B%E0%B8%95%E0%B9%8C/"
                },
                {
                    id: 2,
                    title:"รับทำเว็บไซต์อีคอมเมิร์ซ",
                    description:"รับทำเว็บไซต์อีคอมเมิร์ซ ขนาดเล็กจนถึงบริษัทระดับมหาชน มีระบบแก้ไขข้อมูลหลังบ้านเองได้ทั้งหมด สามารถเพิ่มและแก้ไขข้อมูลสินค้าเองได้ รองรับการชำระเงินแบบโอนผ่านธนาคารและตัดบัตรเครดิต อีกทั้งเรายังอบรมการใช้งานให้ตัวต่อตัวพร้อมคู่มือการใช้งาน เว็บไซต์เรารองรับการใช้งานทุกอุปกรณ์ (Responsive) !!! พิเศษ ทำเว็บไซต์กับเรา ทางเราแถมการทำ SEO เบื้องต้น",
                    link:"https://www.cjsoft.co.th/%E0%B8%A3%E0%B8%B1%E0%B8%9A%E0%B8%97%E0%B8%B3%E0%B9%80%E0%B8%A7%E0%B9%87%E0%B8%9A%E0%B9%84%E0%B8%8B%E0%B8%95%E0%B9%8C%E0%B8%AD%E0%B8%B5%E0%B8%84%E0%B8%AD%E0%B8%A1%E0%B9%80%E0%B8%A1%E0%B8%B4%E0%B8%A3%E0%B9%8C%E0%B8%8B/"
                },
                {
                    id: 3,
                    title:"รับทำเว็บไซต์อีแคตตาล็อก",
                    description:"รับทำเว็บไซต์อีแคตตาล็อก ตั้งแต่ธุรกิจ SME ขนาดเล็กจนถึงบริษัทระดับมหาชน มีระบบแก้ไขข้อมูลหลังบ้านเองได้ทั้งหมด สามารถเพิ่มและแก้ไขข้อมูลสินค้าเองได้ รองรับการขอใบเสนอราคาผ่านอีเมลและไลน์ อีกทั้งเรายังอบรมการใช้งานให้ตัวต่อตัวพร้อมคู่มือการใช้งาน เว็บไซต์เรารองรับการใช้งานทุกอุปกรณ์ (Responsive) !!! พิเศษ ทำเว็บไซต์กับเรา ทางเราแถมการทำ SEO เบื้องต้น",
                    link:"https://www.cjsoft.co.th/%E0%B8%A3%E0%B8%B1%E0%B8%9A%E0%B8%97%E0%B8%B3%E0%B9%80%E0%B8%A7%E0%B9%87%E0%B8%9A%E0%B9%84%E0%B8%8B%E0%B8%95%E0%B9%8C%E0%B9%81%E0%B8%84%E0%B8%95%E0%B8%95%E0%B8%B2%E0%B8%A5%E0%B9%87%E0%B8%AD%E0%B8%81%E0%B8%AD%E0%B8%AD%E0%B8%99%E0%B9%84%E0%B8%A5%E0%B8%99%E0%B9%8C-e-catalog/"
                },
                {
                    id: 4,
                    title:"รับทำเว็บไซต์อสังหาริมทรัพย์",
                    description:"รับทำเว็บไซต์อสังหาริมทรัพย์ ตั้งแต่ธุรกิจ SMEs ขนาดเล็ก มีระบบแก้ไขข้อมูลหลังบ้านเองได้ทั้งหมด สามารถเพิ่มและแก้ไขข้อมูลทรัพย์เองได้ รองรับการการค้นหาทรัพย์ตามหมวดหมู่หรือโซนต่างๆ อีกทั้งเรายังอบรมการใช้งานให้ตัวต่อตัวพร้อมคู่มือการใช้งาน เว็บไซต์เรารองรับการใช้งานทุกอุปกรณ์ (Responsive) !!! พิเศษ ทำเว็บไซต์กับเรา ทางเราแถมการทำ SEO เบื้องต้น",
                    link:"https://www.cjsoft.co.th/%E0%B8%A3%E0%B8%B1%E0%B8%9A%E0%B8%97%E0%B8%B3%E0%B9%80%E0%B8%A7%E0%B9%87%E0%B8%9A%E0%B9%84%E0%B8%8B%E0%B8%95%E0%B9%8C%E0%B8%82%E0%B8%B2%E0%B8%A2%E0%B8%AD%E0%B8%AA%E0%B8%B1%E0%B8%87%E0%B8%AB%E0%B8%B2%E0%B8%A3%E0%B8%B4%E0%B8%A1%E0%B8%97%E0%B8%A3%E0%B8%B1%E0%B8%9E%E0%B8%A2%E0%B9%8C/"
                },
                {
                    id: 5,
                    title:"รับทำ SEO",
                    description:"เรามีบริการรับทำ SEO โดยมืออาชีพมากกว่า 10 ปี เราทำ SEO แบบสายขาว คือหากติดหน้าแรกแล้ว ส่วนมากจะติดถาวร เพราะเราเพิ่ม Backlink ที่มีคุณภาพจำนวนมาก รวมทั้งการแก้ไขเนื้อหาบนเว็บไซต์ของท่านให้ถูกต้องตามที่ Search Engine ชอบ",
                    link:"https://seo.cjsoft.co.th/"
                },
                {
                    id: 6,
                    title:"รับออกแบบและพัฒนาระบบ",
                    description:"รับออกแบบและพัฒนาระบบด้วยภาษาต่างๆ เช่น VB.NET, C#, ASP.NET MVC, PHP, JAVA, HTML5 ,JavaScript หรือ Mobile Application ต่างๆ โดยผู้มีประสบการณ์มากกว่า 20 ปี",
                    link:"#"
                }
            ]
        }
    }
}
</script>

<style>
    .ourserv {
        padding: 0;
    }

    .ourserv .topic {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }

    .ourserv .topic .line {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        height: 2px;
        opacity: .1;
        background-color: currentColor;

    }

    .ourserv .topic span {
        padding: 0 15px;
        color: rgb(77, 77, 77);
    }

    .ourserv .cardbox {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: stretch;
        align-items: stretch;
        column-gap: 30px;
        row-gap: 30px;
        list-style: none;
        border: none;
        padding: 0;
    }

    .ourserv .cardbox .carditem {
        height: 350px;
        box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 22%);
        padding: 15px;
        border-radius: 5px;
        position: relative;
        overflow: scroll;
    }

    .ourserv .cardbox .carditem h4{
        font-size: 1.2rem;
    }

    .ourserv .cardbox .carditem p{
        height: 220px;
        font-size: 0.9rem;
        font-weight: 300;
    }

    .ourserv .cardbox .carditem a {
        background-color: #c92626;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        box-shadow: 2px 3px 8px 4px rgba(0, 0, 0, 0.14);
    }

    .ourserv .cardbox .carditem a:hover {
        text-decoration: none;
    }

    @media screen and (max-width: 570px) {
        .ourserv .cardbox {
            grid-template-columns: 1fr;
            column-gap: 0px;
            row-gap: 20px;
            margin: 10px;
        }
    }

</style>