<template>
  <div class="review">
    <h3 class="topic container">
      <div class="line"></div>
      <span>รีวิวจากลูกค้าที่ใช้บริการ</span>
      <div class="line"></div>
    </h3>
    <ul class="cardbox">
      <div class="loop" v-for="(imgreview, id) in imgreview" :key="id">
        <div class="carditem">
          <img :src="imgreview.img" />
        </div>
      </div>
    </ul>

    <div class="reviewgoogle">
      <div class="box1">
        <div class="imgbox">
          <img
            src="https://lh3.googleusercontent.com/places/AAcXr8pK_x_Zl9aMCH_xx0-hm7lDAVdfl3S36huwAiqwnCh98sVIfFmu13PC9s9yMBo5_wEC3cotQ1ql_1HI_8s4CM39e1Dgle4Wc0w=s1600-w300-h300"
          />
        </div>
        <div class="retext">
          <h6>บริษัทรับทำเว็บไซต์ : บจก. ซีเจ ซอฟท์</h6>
          <div class="star">
            <div class="startext">5.0</div>
            <div class="starimg">
              <div class="starimg-box">
                <img
                  src="https://cdn-icons-png.flaticon.com/512/1828/1828884.png"
                />
              </div>
              <div class="starimg-box">
                <img
                  src="https://cdn-icons-png.flaticon.com/512/1828/1828884.png"
                />
              </div>
              <div class="starimg-box">
                <img
                  src="https://cdn-icons-png.flaticon.com/512/1828/1828884.png"
                />
              </div>
              <div class="starimg-box">
                <img
                  src="https://cdn-icons-png.flaticon.com/512/1828/1828884.png"
                />
              </div>
              <div class="starimg-box">
                <img
                  src="https://cdn-icons-png.flaticon.com/512/1828/1828884.png"
                />
              </div>
            </div>
          </div>
          <p>Based on 25 reviews</p>
          <div class="imggg">
            <img
              src="https://d5g4n8n9.rocketcdn.me/wp-content/plugins/widget-google-reviews/assets/img/powered_by_google_on_white.png"
            />
          </div>
          <a
            href="https://search.google.com/local/writereview?placeid=ChIJpd8daKKD4jARec28M13SpVk"
            >Ready to review?</a
          >
        </div>
      </div>
      <div class="box2">
        <div class="gallery-wrapper">
          <div class="gallery-scroll">
            <div class="gallery" >
              <div class="item" v-for="(reviewgg, iduser) in reviewgg" :key="iduser">
                <div class="img-gg" >
                  <img
                    src="https://cdn-icons-png.flaticon.com/512/300/300221.png"
                  />
                </div>
                <div class="userreview">
                  <div class="imguser">
                    <img
                      :src=reviewgg.imguser
                    />
                  </div>
                  <div class="usertext">
                    <h6>{{reviewgg.nameuser}}</h6>
                    <p>{{reviewgg.date}}</p>
                  </div>
                </div>
                <div class="description">
                  <div class="starimg-rev">
                    <div class="star-re">
                      <img
                        src="https://cdn-icons-png.flaticon.com/512/1828/1828884.png"
                      />
                    </div>
                    <div class="star-re">
                      <img
                        src="https://cdn-icons-png.flaticon.com/512/1828/1828884.png"
                      />
                    </div>
                    <div class="star-re">
                      <img
                        src="https://cdn-icons-png.flaticon.com/512/1828/1828884.png"
                      />
                    </div>
                    <div class="star-re">
                      <img
                        src="https://cdn-icons-png.flaticon.com/512/1828/1828884.png"
                      />
                    </div>
                    <div class="star-re">
                      <img
                        src="https://cdn-icons-png.flaticon.com/512/1828/1828884.png"
                      />
                    </div>
                  </div>
                  <p>
                    {{reviewgg.des}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      imgreview: [
        {
          id: 1,
          img: "https://d5g4n8n9.rocketcdn.me/wp-content/uploads/2021/04/review-02-1-1.jpg",
        },
        {
          id: 2,
          img: "https://d5g4n8n9.rocketcdn.me/wp-content/uploads/2021/04/review-03.jpg",
        },
        {
          id: 3,
          img: "https://d5g4n8n9.rocketcdn.me/wp-content/uploads/2021/04/review-01.jpg",
        },
      ],
      reviewgg: [
          {
            iduser: 1,
            imguser:"https://lh3.googleusercontent.com/a/AATXAJxrlhO8jt9-VSPH1POyKv7fqwwO8xpLkC5i7Hbn=s56-c0x00000000-cc-rp-mo",
            nameuser:"Namfah Dispakdee",  
            date:"12 days ago",
            des:"ได้คำแนะนำดีมากเลยค่ะมีเจ้าหน้าที่คอยช่วยให้คำปรึกษาอยู่ตลอดเวลาหากมีปัญหามีเจ้าหน้าที่ช่วยประสานงานได้24ชม. ดีมากๆค่ะแนะนำเลยค่ะบริการดีมากๆ ประทับใจค่ะ"
          },
          {
            iduser: 2,
            imguser:"https://lh3.googleusercontent.com/a-/AOh14GhNVhVhK-EEa7i8A8lCrsg1VQc5Cdh_Ca8X9mgJ=s56-c0x00000000-cc-rp-mo",
            nameuser:"Baoji Official",  
            date:"12 days ago",
            des:"บริการดีมากครับ แนะนำ และแก้ปัญหาให้ทุกอย่า support เร็วมากครับ ถามปุ๊ป ตอบปั๊บ แนะนำให้ทำเวปกับ เจ้านี้เลยครับ  ผมจะขึ้นอีก 1 เวป ก็ให้ทีมงาน พี่ๆ เขาช่วยทำเหมือนเดิมครับ ไว้ใจได้ รวดเร็ว ราคาเป็นกันเองมากครับ บริการ หลังการติดตั้งก็ยังคงสม่ำเสมอครับ  ดีจริงๆ ให้ 5 ดาวเลยครับ"
          },
          {
            iduser: 3,
            imguser:"https://lh3.googleusercontent.com/a-/AOh14Gjf_gR0dPc6TRoj_Bl3J4-niDwhD2ZLLV21XS69=s56-c0x00000000-cc-rp-mo",
            nameuser:"ชนินทร์ ปิ่นทอง",  
            date:"12 days ago",
            des:"ให้บริการดีครับ พร้อมช่วยเหลือหรือปรับเปลี่ยนแก้ไขเว็ปไซต์ตลอดเวลา อธิบายรายละเอียดและขั้นตอนในการใช้งานหรือปรับแต่งได้เข้าใจง่ายมากครับ"
          },
          {
            iduser: 4,
            imguser:"https://lh3.googleusercontent.com/a/AATXAJx_OXYo56KlLnM_lRYWPED_1b_sP7EiFfv0nYkW=s56-c0x00000000-cc-rp-mo",
            nameuser:"PK Sound",  
            date:"13 days ago",
            des:"ออกแบบสวย  ทันสมัย  รวดเร็วทันใจ แถมบริการหลังการขายดีมาก  ดูแลให้ตลอด    ประทับใจมากค่ะ"
          },
          {
            iduser: 5,
            imguser:"https://lh3.googleusercontent.com/a-/AOh14Gibrd9f_H9jkADlOgCjLoILpSiH8-RahtagxkPu6g=s56-c0x00000000-cc-rp-mo",
            nameuser:"Duangrattana",  
            date:"14 days ago",
            des:"is a company that supports the creation of websites And a very good online network. Pay attention, take care, help, advise and solve system problems for customers. Use CJ Soft service. Really good service. Confirm."
          },
          {
            iduser: 6,
            imguser:"https://lh3.googleusercontent.com/a/AATXAJxHcU36Lxo7SyQ0PWFkpKChTrRQFmAfO_z2hIhy=s56-c0x00000000-cc-rp-mo",
            nameuser:"Gale Flood",  
            date:"14 days ago",
            des:"The CJ soft team has strong knowledge of web development and high responsibility. The best support team that you can ever ask for. Highly recommended!"
          }
      ]
    };
  },
};
</script>

<style scoped>
    .review {
        margin-top: 50px;
    }

    .review .topic {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        padding: 0;
    }

    .review .topic .line {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        height: 2px;
        opacity: 0.1;
        background-color: currentColor;
    }

    .review .topic span {
        padding: 0 15px;
        color: rgb(77, 77, 77);
    }

    .review .cardbox {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: stretch;
        align-items: stretch;
        column-gap: 0px;
        row-gap: 0px;
        list-style: none;
        border: none;
        padding: 0;
        width: 100%;
    }
    .review .cardbox .carditem {
        width: 100%;
        overflow: hidden;
    }

    .review .cardbox .carditem img {
        width: 100%;
        transition: transform 0.2s;
    }

    .review .cardbox .carditem img:hover {
        transform: scale(1.1);
    }

    .review .reviewgoogle {
        display: flex;
        align-items: center;
        padding: 50px;
    }

    .review .reviewgoogle .box1 {
        width: 30%;
        display: flex;
    }

    .review .reviewgoogle .box1 .imgbox {
        width: 20%;
    }

    .review .reviewgoogle .box1 .imgbox img {
        width: 60px;
        border-radius: 50%;
        height: 60px;
    }

    .review .reviewgoogle .box1 .retext {
        width: 80%;
        margin-left: 15px;
    }

    .review .reviewgoogle .box1 .retext h6 {
        margin: 0;
    }

    .review .reviewgoogle .box1 .retext .star {
        display: flex;
        align-items: center;
    }

    .review .reviewgoogle .box1 .retext .star .startext {
        width: 10%;
        color: rgb(255, 204, 0);
        font-size: 1.4rem;
        margin-right: 5px;
    }

    .review .reviewgoogle .box1 .retext .star .starimg {
        display: flex;
        width: 90%;
    }

    .review .reviewgoogle .box1 .retext .star .starimg .starimg-box {
        width: 8%;
        margin-left: 2px;
    }

    .review .reviewgoogle .box1 .retext .star .starimg .starimg-box img {
        width: 100%;
    }

    .review .reviewgoogle .box1 .retext p {
        font-weight: 100;
        margin: 0;
    }

    .review .reviewgoogle .box1 .retext .imggg {
        width: 50%;
        margin-bottom: 15px;
    }

    .review .reviewgoogle .box1 .retext .imggg img {
        width: 100%;
    }

    .review .reviewgoogle .box1 .retext a {
        background-color: #427fed;
        padding: 5px 20px;
        color: white;
        border-radius: 50px;
        font-weight: 100;
    }

    .review .reviewgoogle .box1 .retext a:hover {
        text-decoration: none;
        background-color: #2c62c7;
    }

    .review .reviewgoogle .box2 {
        width: 70%;
    }

    .gallery-wrapper {
        box-sizing: border-box;
        height: 226px;
        overflow: hidden;
    }

    .gallery-scroll {
        box-sizing: border-box;
        height: 241px;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .gallery {
        display: flex;
        box-sizing: border-box;
        width: max-content;
        height: 226px;
        padding: 8px;
    }

    .item {
        width: 350px;
        box-sizing: border-box;
        height: 100%;
        padding: 10px;
        position: relative;
        background-color: rgb(249, 249, 249);
        box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.22);
        border-radius: 5px;
        border: 1px solid rgb(203, 203, 203);
        margin-left: 20px;
    }

    .item:nth-child(1) {
        margin-left: 0px;
    }

    .item .img-gg{
        position: absolute;
        top: 10px;
        width: 100%;
        background-color: aquamarine;
    }

    .item .img-gg img{
        position: absolute;
        right: 20px;
        width: 20px;
    }

    .item .userreview {
        display: flex;
        align-items: center;
    }

    .item .userreview .usertext{
        margin-left: 20px;
    }

    .item .userreview .usertext h6{
        margin: 0;
    }

    .item .userreview .usertext p{
        font-weight: 100;
        font-size: 0.9rem;
    }

    .item .description .starimg-rev{
        display: flex;
        margin-top: 10px;
    }

    .item .description .starimg-rev .star-re{
        width: 5%;
    }

    .item .description .starimg-rev .star-re img{
        width: 80%;
    }

    .item .description p{
        font-weight: 100;
        font-family: sans-serif;
        font-size: 0.8rem;
        margin-top: 5px;
        overflow: scroll;
        height: 80px;
    }

    @media screen and (max-width: 570px) {
      .review .cardbox {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: stretch;
        align-items: stretch;
        row-gap: 10px;
      }

      .review .reviewgoogle {
        display: block;
        padding: 10px;
      }

      .review .reviewgoogle .box1{
        width: 100%;
        margin-bottom: 10px;
      }

      .review .reviewgoogle .box2{
        width: 100%;
        margin-bottom: 10px;
      }

    }
</style>