<template>
    <div class="seorbg">
        <div class="seo container">
            <div class="seotext">
                <h3>รับทำ SEO</h3>
                <p>นอกจากรับทำเว็บไซต์ ทางเรายังมีบริการรับทำ SEO, รับทำ SEO รายเดือน, รับทำ SEO สายขาว โดยทางเรามีประสบการณ์ในวงการรับทำ SEO มามากกว่า 10 ปี โดยหากใช้บริการรับทำ SEO กับทางเรา แล้วไม่ติดอันดับตามสัญญา ทางเรายินดีคืนเงิน 100%</p>
            </div>
            <div class="seobutton">
                <div class="seobuttonbox">
                    <a href="https://seo.cjsoft.co.th/" target="_bank">รายละเอียดเพิ่มเติม</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style scoped>

    .seorbg {
        background-color: rgb(51, 51, 153);
        color: white;
        padding: 30px 0;
    }

    .seo {
        display: flex;
        padding: 0;
        align-items: center;
    }

    .seo .seotext {
        width: 80%;
        padding-right: 20%;
    }

    .seo .seobutton {
        width: 20%;
    }

    .seo .seobutton .seobuttonbox{
        width: 100%;
        border: 2px solid white;
        text-align: center;
        padding: 10px 0;
    }

    .seo .seobutton .seobuttonbox:hover{
        background-color: white;
        color: gray;
    }

    .seo .seobutton .seobuttonbox a{
        color: white;
        font-size: 1.4rem;
    }

    .seo .seobutton .seobuttonbox a:hover{
        color: gray;
        text-decoration: none;
    }

    @media screen and (max-width: 570px) {
        .seo {
            display: block;
            text-align: center;
        }

        .seo .seotext {
            width: 100%;
            padding-right: 0;
        }

        .seo .seobutton {
            width: 100%;
            padding: 20px;
        }

        .seo .seobutton .seobuttonbox{
            width: 100%;
            border: 2px solid white;
            text-align: center;
            padding: 10px 0;
        }

        .seo .seobutton .seobuttonbox:hover{
            background-color: white;
            color: gray;
        }

        .seo .seobutton .seobuttonbox a{
            color: white;
            font-size: 1.4rem;
        }

        .seo .seobutton .seobuttonbox a:hover{
            color: gray;
            text-decoration: none;
        }
    }
</style>