<template>
  <div class="indexpage">
    <Navmenu/> 
    <Braner/>
    <About/>
    <Customer/>
    <OurService/>
    <Review/>
    <ExamplesWeb/>
    <OurCustomer/>
    <Seo/>
    <Footer/>
    <Copyright/>
  </div>
</template>

<script>
import About from '../components/About.vue'
import Braner from '../components/Braner.vue'
import Copyright from '../components/Copyright.vue'
import Customer from '../components/Customer.vue'
import ExamplesWeb from '../components/ExamplesWeb.vue'
import Footer from '../components/Footer.vue'
import Navmenu from '../components/Navmenu.vue'
import OurCustomer from '../components/OurCustomer.vue'
import OurService from '../components/OurService.vue'
import Review from '../components/Review.vue'
import Seo from '../components/Seo.vue'
export default {
  components: { Navmenu, Braner, About, Customer, OurService, Review, ExamplesWeb, OurCustomer, Footer, Copyright, Seo }
}
</script>

<style scoped>
  @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400;600&display=swap');

  * {
    font-family: 'Kanit', sans-serif;
    box-sizing: border-box;
    color: rgb(77, 77, 77);
  }
</style>
